<!-- Starting header prelogin-->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Peakmie</title>
		<link rel="stylesheet" href="/css/style.css">
		<style>
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
      }
      .site_title{
        padding-right: 10px;
      }
      .site_title img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
      }
    </style>

	</head>
	<body data-gr-c-s-loaded="true" class="" >
		<div id="wrapper">
			<header id="header" class="reveal alt">
				<div class="logo"><a href="/"><strong>Admin Portal</strong> <span class="extra">of Peakmie App</span></a></div>
				<nav id="nav">
					<!-- Starting menu prelogin-->
					<ul>
						<li class="current" style="white-space: nowrap;"><a href="#">Home</a></li>
					</ul>
					<!-- Ending menu copied from partials/menu_prelogin.ejs -->
				</nav>
			</header>
<!-- Ending header copied from paritals/header_prelogin.ejs-->