 <!--Starting header -->
 <!DOCTYPE html>
 <html lang="en">
   <head>
	 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	 <!-- Meta, title, CSS, favicons, etc. -->
	 <meta charset="utf-8">
	 <meta http-equiv="X-UA-Compatible" content="IE=edge">
	 <meta name="viewport" content="width=device-width, initial-scale=1">
 
	 <title>Peakmie Admin</title>
 
	 <!-- Bootstrap -->
	 <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	 <!-- Font Awesome -->
	 <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	 <!-- NProgress -->
	 <link href="/vendors/nprogress/nprogress.css" rel="stylesheet">
	 <!-- Datatables -->
	 <link href="/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
	 <link href="/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
	 <!-- jQuery custom content scroller -->
	 <link href="/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet"/>
 
	 <!-- Custom Theme Style -->
	 <link href="/build/css/custom.min.css" rel="stylesheet">
	 <link href="/css/admin.css" rel="stylesheet">
	 <link href="/utils/toaster/toaster.css" rel="stylesheet">
	 
	 <style>
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
      }
      .site_title{
        padding-right: 10px;
      }
      .site_title img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
      }
    </style>
   </head>
 
   <body class="nav-md" ng-app="peakmie">
	 <div class="container body">
	   <div class="main_container">
		 <div class="col-md-3 left_col menu_fixed">	
		   <div class="left_col scroll-view">

			 <div class="navbar nav_title" style="border: 0;">
			 </div>
 
			 <div class="clearfix"></div>
 
			 <!-- menu profile quick info -->
			 <div class="profile clearfix">
			   <div class="profile_pic">
				 <img src="/images/myicon.png" alt="..." class="img-circle profile_img">
			   </div>
			   <div class="profile_info">
				 <span>Welcome</span>
				 <h2><%= user.name %></h2>
			   </div>
			 </div>
			 <!-- /menu profile quick info -->
 
			 <% include menu.ejs %>
			 
		   </div>
		 </div>
 
		<% include top_navigation.ejs %>