<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
	<div class="menu_section">
		<ul class="nav side-menu">
			<li><a href="/dashboard"><i class="fa fa-tachometer"></i> Dashboard Stats</a></li>
			<li>
				<a><i class="fa fa-users"></i> User Management <span class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a href="/users">All Users</a></li>
					<li><a href="/active_request">Active Users</a></li>
					<li><a href="/blocked_request">Blocked Users</a></li>
				</ul>
			</li>
			<li>
				<a><i class="fa fa-users"></i>Posts Management <span class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">

					<li><a href="/reported_posts">Reported Posts</a></li>

				</ul>
			</li>
		</ul>
	</div>
</div>
<!--Ending sidebar -->