<html>
	<head></head>
	<body>
		<div style="width: 550px;border:1px solid #ccc;border-radius:10px;">
            <div style="padding: 20px; background: #f7f7f7; border-top-left-radius: 10px; border-top-right-radius:10px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                <h3 style="color: #1FA3B1; font-weight: 500"> Dear User,</h3>
                <div>
                    <p style="color: #777;word-spacing: 2.2px;line-height: 21px;">
                        Your password has been successfully reset !</b><br><br>
                        Your New Password is - {{password}}.</br> <br>
                        Please login to your account with your email and new password.<br>
                        Please do not share your login details with anyone.<br><br>
                        Thank You, <br>

                        The Peakmie Team
                    </p>
                </div>

                <div style="clear: both;"></div>
            </div>
        </div>
	</body>
</html>
