<% include partials/header_prelogin.ejs %>
<section id="one" class="main alt" ng-controller="forgotPasswordController">
	<toaster-container toaster-options="{'time-out': 5000}"></toaster-container>
	<header class="accent1">
		<h1>Forgot Password</h1>
	</header>
	<div class="inner alt">

		<div class="content">
			<div class="row 200%">
				<div class="12u 12u$(medium) center">
					<h2>Enter Your Email ID To Recieve A Password Reset Link</h2>
					
					<form style="text-align: left;" ng-submit="forgotPassword()">
						<div class="row uniform">
							<div class="4u 12u$(xsmall)"></div>
							<div class="4u$ 12u$(xsmall)">
								<input type="email" placeholder="Enter Email" ng-model="email" required>
							</div>
							<div class="12u$" style="text-align: center;">
								<ul class="actions">
									<li><input type="submit" value="Request Link" class="special"></li>
									<li><a href="/"><input type="button" value="Cancel" class="special"></a></li>
								</ul>					
							</div>
						</div>
					</form>
				</div>				
			</div>
		</div>
	</div>
</section>

<% include partials/footer_prelogin.ejs %>
<% include partials/scripts_general.ejs %>
<script	type="text/javascript" src="/js/forgotPasswordService.js"></script>
<script	type="text/javascript" src="/js/forgotPasswordController.js"></script>
<% include partials/pageend.ejs %>